{% extends 'layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}


    <div class="container main-page">

        <div class="row profil-top">
            <div class="profil-item">
                <div class="rate">
                    <img src="/assets/images/users/{{ user.id }}.jpg" alt="{{ user.firstname }}">
                    <h2>{{ user.firstname }} {{ user.lastname }}</h2>
                    <small class="text-muted rate">
                        {% include 'Inc/rate.html.twig' %}
                    </small>
                </div>

                <h4>Ma ville : {{ city.real_name }}</h4>

                <button type="button" class="btn btn-info"><a href="/comment/index/{{ user.id }}" >Laissez-moi un commentaire.</a></button>
            </div>


            <div class="profil-item profil-service">
                <h2>Services proposés</h2>
                <ul>
                    {% for service in services %}
                        <li>{{ service.label }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="profil-description">
            <h2>Description</h2>
            <p>{{ user.description }}</p>
        </div>

    </div>

{% endblock %}
